@use 'mixins' as *;

:host {
  position: relative;
  --hero-primary: #c7252592;
  --hero-secondary: #cecece92;
}



.desktop-media-bar {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(64px + 16px);
  padding: 16px 8px;
  background: transparent;
}

.mobile-media-bar{
  display: none;
}

.secondary{
  background: var(--hero-secondary);
}

.primary{
  background: var(--hero-primary);
}

h1 {
  font-size: clamp(24px, 4vw + 1rem, 52px);
  font-weight: 600;
  text-shadow: 0 0 12px rgb(54, 54, 54);
}

.hero-text{
  width: fit-content;
  display: flex;

  justify-content: center;
  align-items: center;
  font-weight: 350;
  font-size: clamp(16px, 2vw + 0.75rem, 20px);

  text-shadow: 0 0 12px rgb(0, 0, 0);
}

.wrapper{
  padding: var(--section-padding);
  width: 100%;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-title{

  display: flex;
  align-items: center;
  gap: clamp(4px, 1vw, 12px);
}

.hero-button {
  width: clamp(140px, 14vw, 200px);
  height: clamp(40px, 4vw, 50px);
  padding: 8px 16px;
  border-radius: var(--default-border-radius);
  font-size: clamp(14px, 1.5vw, 22px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.button-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(8px, 2vw, 24px);
}

@media (max-width: 1250px) {
  .mobile-media-bar{
    display: flex;
    gap: 32px;
  }

  .wrapper{
    padding: var(--section-padding);
    width: fit-content;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hero-title{

    display: block;
    align-items: center;
    gap: clamp(4px, 1vw, 12px);
  }


    .desktop-media-bar{
      display: none;
    }
  }

@media (max-width: 1000px){
  .hero-text{
    width: fit-content;
    display: block;

    justify-content: center;
    align-items: center;
    font-weight: 350;
    font-size: clamp(16px, 2vw + 0.75rem, 20px);

    text-shadow: 0 0 12px rgb(0, 0, 0);
  }

  .wrapper{
    justify-content: center;
    gap: 64px;

  }
}



