<div class="main-hero-component">
  <app-social-media-bar class="desktop-media-bar"></app-social-media-bar>
  <app-social-media-bar class="mobile-media-bar"></app-social-media-bar>
  <div class="hero-title">
    <h1>Your Donation Makes</h1>
    <h1>A Difference</h1>
  </div>
  <div class="hero-text">
    <p>Each donation supports</p>
    <p>patients, advancements in</p>
    <p>treatment options, and</p>
    <p>ultimately — the search for cures.</p>
  </div>
  <div class="button-container">
    <button class="hero-button primary">Donate</button>
    <button class="hero-button secondary">Learn More</button>
  </div>
</div>
