:host{
  display: flex;
  justify-content: space-evenly;
}

app-donation-card{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

app-quick-nav-card{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 1250px){
  :host{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  app-donation-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  app-quick-nav-card{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
  }
}





