.news-and-events-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.time-location-type{
  display: flex;
  align-items: center;
  gap: 12px;
}
