@use 'mixins' as *;

h1 {
  font-size: clamp(48px, 8vw, 96px);
  font-weight: 800;
  text-align: center;
}

.red {
  color: var(--brand-color-red);
  text-shadow:
    0 0 4px rgba(255, 255, 255, 0.894),
    0 0 12px rgba(255, 255, 255, 0.132),
    0 0 24px rgba(255, 255, 255, 0.106);
}

.hero-text {
  text-align: center;
}


.hero-button {
  height: 44px;
  border-radius: var(--circular-border-radius);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
  border: 1px solid white;
  cursor: pointer;
}

.button-container {
  height: fit-content;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 1250px) {

  h1{
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }

  .button-container {
    justify-content: center;
  }
}

@media (max-width: 768px){
  .button-container{
    flex-direction: column;
    padding-left: 64px;
    padding-right: 64px;
  }

  .hero-button {
    flex: 0 auto;
  }
}

