<div class="hero-title">
  <h1>Let's <span class="red">Walk</span></h1>
  <h1>Together</h1>
</div>
<p class="hero-text">Each year, Gutsy Walk raises over $2 million, funding life-changing research, programs, and
  advocacy efforts that help improve the lives of those affected by Crohn's disease and ulcerative colitis. This
  funding is crucial in supporting advancements in treatment options, and ultimately, in the search for cures.</p>
<div class="button-container">
  <input type="button" class="hero-button primary medium" value="Donate">
  <input type="button" class="hero-button secondary medium" value="Learn More">
</div>
