@use 'mixins' as *;

h1 {
  color: white;
  font-size: 96px;
  font-weight: 800;
  text-align: center;
}

.red {
  color: var(--brand-color-red);
  text-shadow:
    0 0 4px rgba(255, 255, 255, 0.894),
    0 0 12px rgba(255, 255, 255, 0.132),
    0 0 24px rgba(255, 255, 255, 0.106);
}

.hero-text {
  text-align: center;
}

p {
  color: white;
}

.hero-button {
  height: 50px;
  border-radius: var(--circular-border-radius);
  color: white;
  font-size: 16px;
}

.button-container {
  display: flex;
  gap: 16px;
}

@media (max-width: 1250px) {

  h1{
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }

  .button-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: calc(32px + 16px);
  }
}
