@use 'mixins' as *;

:host {
  display: block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #e9eaf7;
  scroll-snap-type: y mandatory;
  --section-padding: 8px 16px;
}


:host > *{

  margin-bottom: 16px;
}

.hero-page-one{
  height: 100%;
  scroll-snap-align: start;
}

.hero-page-two{
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  height: 100%;
  scroll-snap-align: start;
}

.hero-page-two-group-0{
  gap: 16px;
  display: flex;
  height: 100%;

}

.hero-page-two-group-0-subsection-0{
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  flex: 1 1 0;

}

app-hero-section {
  font-size: 12px;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.483) 30%, rgba(40, 18, 62, 0.5) 60%, rgba(120, 40, 200, 0.196)), url('../../../../public/hero-background-final.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


app-news-and-events {
  @include container;
  padding: var(--section-padding);
  color: black;
  width: fit-content;
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;
  gap: 8px;
  height: 100%;

}

app-community-information {
  @include container;
  padding: var(--section-padding);
  width: 100%;
  color: black;
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex: 1 1 0;
}

app-community-stories {
  @include container;
  padding: var(--section-padding);
  color: black;
  border-radius: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

app-related-pages {
  @include container;
  padding: var(--section-padding);
  width: 100%;
  color: black;
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex: 1 1 0;
}




@media (max-width: 1250px) {

  app-hero-section {
    padding-top: unset;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .hero-page-two{

    display: flex;
    gap: 16px;
    height: fit-content;
  }

  .hero-page-two-group-0{

    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px){
  :host{
    gap: 32px;
  }

  app-hero-section{
    gap: 16px;
    height: 100%;
    display: flex;
  }



  app-news-and-events{
    height: fit-content;
  }

  app-community-stories{
    height: fit-content;
  }
}
