@use 'mixins' as *;

:host {
  @include container;
  padding: 64px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

app-donation-card{
  width: 500px;
}

app-quick-nav-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

@media (max-width: 1250px) {

  app-donation-card{
    width: 100%;
  }

  :host {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  :host {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  app-quick-nav-card{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
  }
}
