@use 'mixins' as *;

:host {
  display: block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #d1d9ff;
  scroll-snap-type: y mandatory;
  --section-padding: 8px 8px;
}


:host > *{

  margin-bottom: 8px;
}

.hero-page-one{
  padding: 8px;
  height: 100%;
  scroll-snap-align: start;
}

.hero-page-two{
  padding: 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  height: 100%;
  scroll-snap-align: start;
}

.hero-page-two-group-0{
  gap: 8px;
  display: flex;
  height: 100%;
  overflow: hidden;

}

.hero-page-two-group-0-subsection-0{
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  flex: 1 1 0;

}

.hero-page-two-mobile{
  display: none;
}



app-hero-section {
  display: grid;
  grid-template-areas:
  "main-hero-component"
  "app-quick-nav-container"
  ;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 70% 30%;
  padding: var(--default-padding);
  font-size: 12px;
  color: white;
  height: 100%;
  border-radius: var(--default-border-radius);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.483) 30%, rgba(0, 0, 0, 0.428) 60%, rgba(120, 40, 200, 0.196)), url('../../../../public/hero-background-final.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


app-news-and-events {
  @include container;
  padding: var(--section-padding);
  color: black;
  width: 100%;
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  gap: 8px;
  height: 100%;

}

app-community-information {
  @include container;
  padding: var(--section-padding);
  width: 100%;
  color: black;
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex: 1 1 0;
}

app-community-stories {
  @include container;
  padding: var(--section-padding);
  color: black;
  border-radius: var(--default-border-radius);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;


}

app-related-pages {
  @include container;
  padding: var(--section-padding);
  width: 100%;
  color: black;
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex: 1 1 0;
}




@media (max-width: 1250px) {

  :host {
    scroll-snap-type: none;
  }

  .hero-page-one,
  .hero-page-two,
  .hero-page-three {
    scroll-snap-align: none;
  }

  .hero-page-one{
    height: 100%;
  }



  .hero-page-two{
    display: none;
  }

  .hero-page-two-group-0{

    display: flex;
    flex-direction: column;
  }

  .hero-page-two-mobile{
    height: 100%;
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    height: 100%;
    scroll-snap-align: start;
  }

  .hero-page-three-mobile{
    height: 100%;
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    height: 100%;
    scroll-snap-align: start;
  }

  .hero-page-four-mobile{
    height: 100%;
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    height: 100%;
    scroll-snap-align: start;
  }

  app-hero-section{
    grid-template-rows: 65% 35%;
    height: 100%;
  }


}

@media (max-width: 768px){

  app-hero-section{
    grid-template-rows: 65% auto;
    border-radius: 0;

  }

  .hero-page-one{
    padding: 0;
  }

  app-community-information{
    height: fit-content;
  }

  app-related-pages{
    height: fit-content;
  }
}
