@use 'mixins' as *;

.track {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 16px;
}

.card {
  @include container;
  background: rgba(10, 10, 55, 0.64);
  color: grey;
  aspect-ratio: 14/9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.128);
  border-radius: var(--default-border-radius);
  transition: 0.1s ease;
  font-weight: 600;
  flex: 1 1 0;
}

.card:hover {
  backdrop-filter: blur(8px);
  background: rgba(10, 10, 55);
  box-shadow:
    0 0 0px rgba(255, 255, 255, 0.8),
    0 0 0px rgba(255, 255, 255, 0.4),
    0 0 5px rgba(255, 255, 255, 0.1);
}

.card:active {
  background: rgb(38, 38, 161);
  box-shadow:
    0 0 0px rgba(255, 255, 255, 0.8),
    0 0 0px rgba(255, 255, 255, 0.4),
    0 0 5px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1250px) {
  a {
    font-size: 10px;
  }

  .card {
    flex: 0 0 20vw;
  }
}

@media screen and (max-width: 768px) {
  .track {
    overflow-x: scroll;
    justify-content: flex-start;
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none; }
  }

  .card {
    flex: 0 0 20vw;
  }

  svg {
    height: 20px;
  }

  a {
    font-size: 8px;
  }
}

@media screen and (max-width: 465px){
  .card {
    flex: 0 0 33vw;
  }
}
