@use 'mixins' as *;
ul{
display: flex;
gap: 16px;
width: 100%;
}


.card{
  @include container;
  background: rgba(10, 10, 55, 0.64);
  color: grey;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.128);

  height: 125px;
  border-radius: 10px;
  transition: 0.1s ease;
  font-weight: 600;

}

.card:hover{
  backdrop-filter: blur(8px);
  background: rgba(10, 10, 55);
  box-shadow:
  0 0 0px rgba(255, 255, 255, 0.8), /* Small, bright core */
  0 0 0px rgba(255, 255, 255, 0.4), /* Medium mid-glow */
  0 0 5px rgba(255, 255, 255, 0.1); /* Large, faint outer halo */
}

.card:active{
  background:rgb(38, 38, 161);
  box-shadow:
  0 0 0px rgba(255, 255, 255, 0.8), /* Small, bright core */
  0 0 0px rgba(255, 255, 255, 0.4), /* Medium mid-glow */
  0 0 5px rgba(255, 255, 255, 0.1); /* Large, faint outer halo */
}

@media screen and (max-width: 768px){
  ul{

    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card{

    flex: 0 0 25%;
    scroll-snap-align: start;
    height: fit-content;
    font-size: 12px;
  }

  .card-title{
    width: 100%;
    text-align: left;
  }

  svg{
    height: 24px;
    width: 24px;
  }

  a{
    font-size: 10px;
  }
}


