@use 'mixins' as *;

.group{
  padding: 20px;
  display: flex;
  gap: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: unset;


}


.card{
  @include container;
  background: rgba(10, 10, 55, 0.64);
  color: grey;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.128);


  border-radius: var(--default-border-radius);
  transition: 0.1s ease;
  font-weight: 600;

}

.card:hover{
  backdrop-filter: blur(8px);
  background: rgba(10, 10, 55);
  box-shadow:
  0 0 0px rgba(255, 255, 255, 0.8), /* Small, bright core */
  0 0 0px rgba(255, 255, 255, 0.4), /* Medium mid-glow */
  0 0 5px rgba(255, 255, 255, 0.1); /* Large, faint outer halo */
}

.card:active{
  background:rgb(38, 38, 161);
  box-shadow:
  0 0 0px rgba(255, 255, 255, 0.8), /* Small, bright core */
  0 0 0px rgba(255, 255, 255, 0.4), /* Medium mid-glow */
  0 0 5px rgba(255, 255, 255, 0.1); /* Large, faint outer halo */
}

@media screen and (max-width: 1250px){
  .card{
    flex: 0 0 25%;
  }
}

@media screen and (max-width: 768px){
  .group{

    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    min-height: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card{

    flex: 0 0 33%;
    scroll-snap-align: start;

    font-size: 12px;
  }

  .card-title{
    width: 100%;
    text-align: left;
  }

  svg{
    height: 24px;
    width: 24px;
  }

  a{
    font-size: 10px;
  }
}


