@use 'mixins' as *;


.search-bar{
  color: white;
  @include container;
  width: 400px;
  height: calc(32px + 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 14px;
  border-radius: var(--circular-border-radius);
  transition: background 0.3s ease;
}

.icon{
  display: flex;
  gap: 12px;
}

.search-bar:hover{
  background: rgba(55, 55, 55, 0.536);

}

input, button{
  all: unset;
}

input{
  width: 100%;
  padding-left: 4px;
}

button{
  transition: background 0.3s ease;
  cursor: pointer;
  display: flex;
  border-radius: var(--circular-border-radius);
}

button:active{
  background: rgba(255, 255, 255, 0.128);
}

@media (max-width: 768px){
  .search-bar{
    height: 32px;
    width: fit-content;
  }

  .wrapper{
    width: 100%;
  }

  input{
    &::placeholder{
      font-size: 8px;
    }
  }

}

