@use 'mixins' as *;

:host{
  display: flex;
  border: 1px solid rgba(58, 58, 58, 0.487);
  border-radius: var(--default-border-radius);
  display: flex;
  height: 100%;
  flex: 0 0 1;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 80%;
  transition: background 0.3s ease;
}

input::placeholder{
  font-size: 9px;
}

.icon{
  display: flex;
  gap: 12px;
}

.search-bar:hover{
  background: rgba(55, 55, 55, 0.536);

}

input, button{
  all: unset;
}

input{
  width: 100%;
  padding-left: 4px;
  height: 100%;
}

button{
  transition: background 0.3s ease;
  cursor: pointer;
  display: flex;
  border-radius: var(--circular-border-radius);
}

button:active{
  background: rgba(255, 255, 255, 0.128);
}

