  <a class="card" routerLink="">
    <img class="thumbnail" src="Ainsley_400x400.jpg" alt="Ainslet Wallace smiling while picking apples">
    <div class="author-title-description">
      <p class="author">Ainslet Wallace</p>
      <h1 class="title">Ainsley's tip tips for living with IBD</h1>
      <p class="intro">Growing up I always had problems with digestion, and had an early introduction to digestive imaging and scopes. As I got into my late teen years, I was diagnosed with Fibromyalgia and early onset Osteoarthritis in my hands when I was in my early 20s.</p>
    </div>
  </a>

  <a class="card" routerLink="">
    <img class="thumbnail" src="Dan-Rosen-GameOfCrohns-Rehearsal_400x400.jpg" alt="Klein performing a comedy rehersal">
    <div class="author-title-description">
      <p class="author">Dan Rosen</p>
      <h1 class="title">Game Of Crohn's: Finding Community And Raising</h1>
      <p class="intro">What weighed on your mind the most when you were eleven? Too "old" to be a kid, yet too young to be an adult, it is a time when you are just beginning to figure out who you are. Throw a chronic illness into the mix, and life as a middle schooler becomes infinitely more difficult.</p>
    </div>
  </a>

  <a class="card" routerLink="">
    <img src="Alexandra_Klein_400x400px_2025.jpg" alt="Alexandra (Alex) in bobsleigh suit" class="thumbnail">
    <div class="author-title-description">
      <p class="author">Alexandra (Alex) Klein</p>
      <h1 class="title">From Basketball to Bobsleigh, Alex Won't let Ulcerative Colitis Stop Her</h1>
      <p class="intro">In 2017, Alexandra (Alex) Klein was at the top of her basketball career when she began to feel something wasn't right.</p>
    </div>
  </a>

  <a class="card" routerLink="">
    <img src="Jennifer_Bell_Large_400x400_2025.jpg" alt="Jennifer smiling with thumbs up" class="thumbnail">
    <div class="author-title-description">
      <p class="author">Jennifer Bell</p>
      <h1 class="title">When one family member has Crohn's - the whole family does</h1>
      <p class="intro">For many families where somebody is diagnosed with Crohn's, it turns into a family affair. Crohn's doesn't just affect you, it affects everybody around you.</p>
    </div>
  </a>

  <a class="card" routerLink="">
    <img src="Brad2_400x400_News_item_2025.png" alt="Brad Watson-Davelaar with family" class="thumbnail">
    <div class="author-title-description">
      <p class="author">Brad Watson-Davelaar</p>
      <h1 class="title">A Crohn's journey with Shawn the Stoma</h1>
      <p class="intro">Meet Brad Watson-Davelaar of Edmonton and his best buddy Shawn the Stoma – his pet name for his stoma, the hole on the right side of his abdomen where his intestines exit.</p>
    </div>
  </a>

  <a class="card" routerLink="">
    <img src="David_Letky_400x400_2025.jpg" alt="David Letky running a marathon" class="thumbnail">
    <div class="author-title-description">
      <p class="author">David Letky</p>
      <h1 class="title">David Letky's marathon journey with Crohn's</h1>
      <p class="intro">When David Letky crosses the finish line of the 128th Boston Marathon on April 15th, 2024, it will mark a huge milestone in his runner career, as well as his journey living with Crohn's disease.</p>
    </div>
  </a>
