@use 'mixins' as *;
@use 'animations' as *;


.intro {
  display: none;
}
.author-title-description {
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thumbnail{
  border-radius: 20px;
}

.card{
flex: 1 1 0;

}




.author-title-description {
    overflow: hidden;
}

.author {
  font-size: clamp(10px, 1.2vw, 14px);
}

.title {
  font-size: clamp(12px, 1.5vw, 18px);
}

.intro {
  font-size: clamp(10px, 1.2vw, 14px);
  font-weight: 200;
}


.card {
  padding: 4px;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

}

@media screen and (max-width: 1250px) {
  .card {
    position: relative;
    flex: 0 0 22%;
    aspect-ratio: 4/5;
    height: auto;
    padding: 0;
    gap: 0;
    scroll-snap-align: start;
  }

  .thumbnail {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .author-title-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    gap: 4px;

    mask-image: unset;

  }


}



@media screen and (max-width: 768px) {
  .card {
    flex: 0 0 45%;

  }
}
