<div class="track">
  <a class="card" routerLink="">
    <div class="photo-wrapper">
      <img class="thumbnail" src="Ainsley_400x400.jpg" alt="Ainslet Wallace smiling while picking apples">
      <div class="author-title-description">
        <p class="author">Ainslet Wallace</p>
        <h1 class="title">Ainsley's tip tips for living with IBD</h1>
      </div>
    </div>
  </a>
  <a class="card" routerLink="">
    <div class="photo-wrapper">
      <img class="thumbnail" src="Dan-Rosen-GameOfCrohns-Rehearsal_400x400.jpg" alt="Klein performing a comedy rehersal">
      <div class="author-title-description">
        <p class="author">Dan Rosen</p>
        <h1 class="title">Game Of Crohn's: Finding Community And Raising Awareness</h1>
      </div>
    </div>
  </a>
  <a class="card" routerLink="">
    <div class="photo-wrapper">
      <img class="thumbnail" src="Alexandra_Klein_400x400px_2025.jpg" alt="Alexandra (Alex) in bobsleigh suit">
      <div class="author-title-description">
        <p class="author">Alexandra (Alex) Klein</p>
        <h1 class="title">From Basketball to Bobsleigh, Alex Won't let Ulcerative Colitis Stop Her</h1>
      </div>
    </div>
  </a>
  <a class="card" routerLink="">
    <div class="photo-wrapper">
      <img class="thumbnail" src="Jennifer_Bell_Large_400x400_2025.jpg" alt="Jennifer smiling with thumbs up">
      <div class="author-title-description">
        <p class="author">Jennifer Bell</p>
        <h1 class="title">When one family member has Crohn's - the whole family does</h1>
      </div>
    </div>
  </a>
  <a class="card" routerLink="">
    <div class="photo-wrapper">
      <img class="thumbnail" src="Brad2_400x400_News_item_2025.png" alt="Brad Watson-Davelaar with family">
      <div class="author-title-description">
        <p class="author">Brad Watson-Davelaar</p>
        <h1 class="title">A Crohn's journey with Shawn the Stoma</h1>
      </div>
    </div>
  </a>
  <a class="card" routerLink="">
    <div class="photo-wrapper">
      <img class="thumbnail" src="David_Letky_400x400_2025.jpg" alt="David Letky running a marathon">
      <div class="author-title-description">
        <p class="author">David Letky</p>
        <h1 class="title">David Letky's marathon journey with Crohn's</h1>
      </div>
    </div>
  </a>
</div>
