@use 'mixins' as *;

article{
  @include container;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
}

.time-location-type{
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-start;
  gap: 12px;
}

.event-thumbnail {
  margin: 20px;
  max-height: 85px;
  object-fit: cover;
  border-radius: var(--default-border-radius);
}

.card-info{
  height: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
}

h1{
  font-size: 16px;
}
