@use 'mixins' as *;
:host{
  padding: 32px;
  width: 100%;
  height: fit-content;
  color: white;
  @include container;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.related-pages {


  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 128px;
  justify-content: space-around;
}
