@use 'mixins' as *;
:host{
  width: 100%;
  height: fit-content;
  color: white;
}
.related-pages {
  @include container;
  padding: 32px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 128px;
  justify-content: space-around;
}
