.quick-links{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 16px;
}



.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.128);
  background: var(--brand-color-blue);
  height: calc(126px + 32px);
  border-radius: 20px;
  transition: 0.3s ease;
  font-weight: 600;
}
.quick-links-container{
  gap: 16px;
  margin: 32px;
  border-radius: 20px;
  width: 500px;
  color: white;
  display: flex;
  padding: 20px;
  flex-flow: row wrap;
}

.card:hover{
  backdrop-filter: blur(8px);
  background: rgba(10, 10, 55, 0.813);
}


.quick-links-title{
  width: 100%;
  text-align: center;
}

