.quick-links{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 16px;
  width: fit-content;
}

.quick-links-title{
  padding-left: 53px;
}



.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.128);
  background: var(--brand-color-blue);
  height: 125px;
  border-radius: 20px;
  transition: 0.3s ease;
  font-weight: 600;
}
.quick-links-container{
  gap: 16px;
  height: 500px;
  border-radius: 20px;
  width: 600px;
  color: white;
  display: flex;
  padding: 20px;
  flex-flow: row wrap;
}

.card:hover{
  backdrop-filter: blur(8px);
  background: rgba(10, 10, 55, 0.813);
}

@media screen and (width <= 1250px) {
  .quick-links-title{
    width: 100%;
    text-align: center;
    height: min-content;
    padding: 0;
  }

  .quick-links-container{
    all: unset;
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 16px;

  }
  .quick-links{
    all: unset;
    width: 100%;
    gap: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

}
