/*glass hover animation*/
@keyframes glass-hover {
  0% {
    background: rgba(37, 37, 37, 0.169);
    border-color: rgba(255, 255, 255, 0.126);
  }

  100% {
    background: rgba(121, 121, 121, 0.203);
    box-shadow: 0 0 2px rgb(104, 104, 104);
  }
}
/*glass hover animation ends*/

/*glass active animation*/
@keyframes glass-active {
  0% {
    background: rgba(121, 121, 121, 0.203);
    box-shadow: 0 0 2px rgb(104, 104, 104);
  }

  100% {
    background: rgba(121, 121, 121, 0.094);
    box-shadow: 0 0 2px rgb(104, 104, 104);
  }
}
/*glass active animation ends*/
