/*container logic begins*/
@mixin container{
  background: rgb(0, 0, 0);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.126);
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

/*container logic ends*/
@mixin dynamic-link{
  background: var(--brand-color-blue);
  min-width: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: fit-content;
}
