/*container logic begins*/
@mixin container{

  background: rgba(121, 121, 121, 0.203);
  box-shadow: 0 0 2px rgb(104, 104, 104);
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

/*container logic ends*/
@mixin dynamic-link{
  cursor: pointer;
  min-width: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: fit-content;
}
