/* You can add global styles to this file, and also import other style files */
:root{
  --brand-color-red: #C72526;
  --brand-color-blue: #1E155D;
  --brand-color-yellow: #F7E8D1;
  --default-border-radius: 20px;
  --circular-border-radius: 100px;
  --default-padding: 8px;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background: #1C1B22;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url('../public/hero-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

body{
  height: 100%;

  display: flex;
  flex-direction: column;
}



app-footer{
  border: 1px solid red;
  flex-shrink: 0;
}

li, button, input{
list-style: none;
}

/*button logic begins*/

.secondary{
  background: rgb(111, 111, 111);
}

.primary{
background: var(--brand-color-blue);
}

.large{
width: 300px;
}

.medium{
width: 150px;
}

.small{
width: 50px;
}

/*button logic ends*/

/*container logic begins*/
.container{
  background: rgba(37, 37, 37, 0.169);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.126);
  border-radius: 20px;
}

.mobile-container{
  background: rgba(37, 37, 37, 0.169);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.126);
  border-radius: 20px;
}
/*container logic ends*/
