<div class="wrapper">


    <img id="p_lt_ctl09_FooterLogo_ucEditableImage_imgImage" title="Crohn's and Colitis Canada | Crohn et Colite Canada"
    src="crohns-colitis-logo-footer.png" alt="Crohn's and Colitis Canada">
    <app-social-media-bar></app-social-media-bar>

  <ul class="resources">
    <h1>Resources</h1>
    <li><a href="/About-Crohn-s-Colitis">About Crohn’s &amp; Colitis</a></li>
    <li><a href="/Support-for-You">Support for You</a></li>
    <li><a href="/Living-with-Crohn-s-Colitis">Living with Crohn’s &amp; Colitis</a></li>
    <li><a href="/Ways-to-Give">Ways to Give</a></li>
    <li><a href="/Research">Research</a></li>
    <li><a href="http://gutsywalk.ca/Home.aspx" target="_blank">Gutsy Walk™</a></li>
  </ul>

  <ul class="information">
    <h1>Information</h1>
    <li><a href="/Get-Involved">Get Involved</a></li>
    <li><a href="/About-Us">About Us</a></li>
    <li><a href="/News-Events">News &amp; Events</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Find-My-Community">Find My Community</a></li>
    <li><a href="/Sitemap">Sitemap</a></li>
  </ul>
</div>
