@use 'mixins' as *;
.wrapper{
  @include container;
  background: rgb(2, 10, 40);
  display: grid;
  grid-template-areas:
  "app-community-information app-quick-facts"
  "app-news-letter app-quick-facts";
  grid-template-rows: 2fr 1fr;
  height: 100%;
  color: white;

  padding: var(--section-padding);
}

app-news-letter{
  grid-area: app-news-letter;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

app-quick-facts{
  grid-area: app-quick-facts;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-community-information{
  grid-area: app-community-information;
}
