@use 'mixins' as *;
.wrapper{
  @include container;
  background: rgb(2, 10, 40);
  display: grid;
  grid-template-areas:
  "app-community-information app-quick-facts"
  "app-news-letter app-quick-facts";
  grid-template-rows: 2fr 1fr;
  color: white;

  padding: var(--section-padding);
}

app-news-letter{
  grid-area: app-news-letter;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

app-quick-facts{
  grid-area: app-quick-facts;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-community-information{
  display: flex;
  flex-direction: column;
  grid-area: app-community-information;
}

@media (max-width: 1250px){
  .wrapper{
    grid-template-areas:
    "app-community-information"
    "app-quick-facts"
    "app-news-letter";
    gap: 128px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  app-community-information{
    align-items: center;

  }

  app-news-letter{
    align-items: center;
  }

  app-quick-facts{
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 768px){
  .wrapper{
    padding: 0;
  }
}
