@use 'mixins' as *;
@use 'animations' as *;
:host{
  width: 100%;
  height: 100%;
}

.sub-card-container{

  height: fit-content;
  display: grid;
  width: 100%;
  height: 100%;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
}

.sub-card{
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  height: fit-content;
  border-radius: 20px;
  &:hover {
    animation: glass-hover 0.4s ease forwards;
  }

  &:active {
    animation: glass-active 0.2s ease forwards;
  }
}
