@use 'mixins' as *;

:host {
  display: grid;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;



  /*variables*/
}

app-nav-bar-mobile{
  display: none;
}

app-header{

  @include container;
  background: rgb(255, 255, 255);
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.685);
  border-radius: 0;
  flex: 0 0 3%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 0.5em;
  align-items: center;
}



main {
  flex: 0 0 97%;
  height: 100%;
  overflow-y: hidden;
}

@media (max-width: 1250px) {
  :host {
    height: 100dvh;
  }

  main {
    height: 100%;
    overflow-y: hidden;
  }


}

@media (max-width: 768px){


  main {
    height: 100%;
    overflow-y: hidden;

  }

  app-nav-bar-mobile{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.692);
  }



app-nav-bar {
  padding-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  app-search-bar {
    padding-top: 4px;
    padding-right: 18px;
    padding-bottom: 0;
    grid-area: search;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  app-header{
    flex-direction: row;
    gap: 8px;
  }

}
