:host {
  display: grid;


  gap: 16px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
  "header header"
  "search search"
  "nav nav"
  "main main";
  grid-template-rows: auto;
}


app-header{
  grid-area: header;
  width: 100%;
}
app-search-bar {
  grid-area: search;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
}
main {
  grid-area: main;
  overflow-y: auto;
  height: 100%;

}

app-nav-bar {
  grid-area: nav;
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media (max-width: 768px){
  :host{
    display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);;
  grid-template-areas:
  "header search search"
  "main main main"
  "nav nav nav";
}



app-nav-bar {
  top: unset;
  bottom: 0;
}
  }
