@use 'mixins' as *;
@use 'animations' as *;

h1{
  font-size: 28px;
  font-weight: 550;
}

app-event-card-container{
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;
}

@media (max-width: 768px){
  app-event-card-container{

    grid-template-columns: 1fr;
  }
}





