@use 'mixins' as *;
@use 'animations' as *;

.wrapper{
  width: 100%;
  @include container;
  padding: var(--section-padding);
}

.title-group {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(18px, 2vw + 0.5rem, 32px);
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: clamp(11px, 1vw + 0.25rem, 16px);
  font-weight: 400;
  line-height: 1.2;
  padding-left: var(--subtitle-indent);
}

app-event-card-container{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 8px;

}

app-news-and-events-desktop-container{
  display: grid;
  gap: 3em;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 375px);
}

.force-row{
  display: none ;
}

.container{
  display: flex;
  justify-content: space-between;
}

.filter-container{
  display: flex;
  gap: 8px;
}

.filter-button{
  border: 1px solid black;
  border-radius: var(--default-border-radius);
  width: 50px;
  height: 25px;
  text-align: center;
}



@media (max-width: 1000px){
  app-news-and-events-desktop-container{
    display: none;
  }

  .conditional-row{
    display: none;
  }

  .force-row{
    display: flex;
  }

  .filter-button{
    display: none;
  }
}

@media (max-width: 768px){

.wrapper{
  padding: var(--mobile-padding);
}
}




