@use 'mixins' as *;



.title{
  color: white;
  padding-left: 16px;
  font-size: 32px;
}



.news-and-events {
  @include container;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 32px;

  color: white;

}



@media screen and (max-width: 1250px){
  .news-and-events{
    grid-template-columns: 1fr;
  }
}
