<div class="container">
  <div class="card">
    <div class="photo">
      <div class="meta-info">
        <p>Virtual</p>
      </div>
      <div class="meta-info">
        <p>Educational</p>
      </div>
    </div>
    <div class="information">
      <p class="date-time">May 13 2025 •  8pm - 9pm </p>
      <h1 class="card-title">Finding the Right Care for Your IBD Journey</h1>
      <p class="date-time">Managing Crohn’s disease or ulcerative colitis can feel overwhelming, especially when symptoms flare or help seems hard to find. You don’t have to face these moments alone. </p>




    </div>
  </div>
</div>

