.logo{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: fit-contnet;
}

h1{
  font-size: calc(16px + 8px);
  font-weight: 500;
}

app-nav-bar {
  flex: 1 1 0;
}

.mobile-hamburger{
  cursor: pointer;
  display: none;
}


@media (max-width: 768px){
  h1{
    font-size: 16px;
  }
  .logo{
    justify-content: flex-start;
    width: fit-contnet;
  }
  .colitis-logo{
    width: 16px;
  }


  .mobile-hamburger{
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




