.logo{
  font-size: 20px;
  color: white;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: fit-contnet;
}


@media (max-width: 768px){
  h1{
    font-size: 24px;
  }
  .logo{
    justify-content: flex-start;
    width: fit-contnet;
  }
  .colitis-logo{
    width: 16px;
  }
}




