app-story-card-container{
  display: flex;
  height: 100%;
  gap: 16px;
}


@media screen and (max-width: 1250px){
  app-story-card-container{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

