.description{
  font-size: 12px;
}

app-province-territory-card-container{
    height: fit-content;
    height: 100%;
    gap: 16px;
    width: fit-content;
    display: flex;
    flex-flow: row wrap;


  }


