.description{
  font-size: 12px;
}

h1{
  font-size: 24px;
  font-weight: 550;

}

app-province-territory-card-container{

    height: fit-content;
    height: 100%;
    gap: 16px;
    display: flex;
    flex: 0 0 1;
    flex-flow: column;
  }


