@use 'mixins' as *;

.wrapper{
  width: fit-content;
}
.title-group {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(18px, 2vw + 0.5rem, 32px);
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: clamp(11px, 1vw + 0.25rem, 16px);
  font-weight: 400;
  line-height: 1.2;
  padding-left: var(--subtitle-indent);
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: clamp(250px, 30vw, 450px);
  margin: 1em;
  border-radius: var(--default-border-radius);
  border: 1px solid white;
}

@media (max-width: 1250px) {
  .card { width: clamp(250px, calc(100vw - 2em), 450px); }
}


.inner-card {
  position: relative;
  top: -10px;
  left: 10px;
  width: calc(100% - 10px);
  height: fit-content;
  background: var(--brand-color-red);
  border-radius: var(--default-border-radius);
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1.5em;
  color: white;
}

label {
  font-size: 20px;
  font-weight: 450;
}

select {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: var(--default-border-radius);
}
