<a class="card" routerLink="">
  <div class="photo-wrapper">
    <img class="thumbnail" src="/ibd-journey.png" alt="IBD Journey">
    <h1>IBD Journey</h1>
  </div>
</a>
<a class="card" routerLink="">
  <div class="photo-wrapper">
    <img class="thumbnail" src="/gutsy-walk.png" alt="Gutsy Walk">
    <h1>Gutsy Walk</h1>
  </div>
</a>
<a class="card" routerLink="">
  <div class="photo-wrapper">
    <img class="thumbnail" src="/covid-19-ibd.png" alt="COVID-19 & IBD">
    <h1>COVID-19 & IBD</h1>
  </div>
</a>
<a class="card" routerLink="">
  <div class="photo-wrapper">
    <img class="thumbnail" src="/what-is-ibd.png" alt="What is IBD?">
    <h1>What is IBD?</h1>
  </div>
</a>
<a class="card" routerLink="">
  <div class="photo-wrapper">
    <img class="thumbnail" src="/treatment-medication.png" alt="Treatment & Medications">
    <h1>Treatment & Medications</h1>
  </div>
</a>
<a class="card" routerLink="">
  <div class="photo-wrapper">
    <img class="thumbnail" src="/diet-nutrition.png" alt="Diet & Nutrition">
    <h1>Diet & Nutrition</h1>
  </div>
</a>
