@use 'mixins' as *;

.card {
  @include container;
  display: flex;
  flex-direction: column;
  border-radius: var(--default-border-radius);
  transition: 0.1s ease;
  font-weight: 600;
  flex: 0 0 clamp(100px, 14vw, 160px);
  height: fit-content;
}

.photo-wrapper {
  position: relative;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  aspect-ratio: 1/1;
  transition: top 0.2s ease, left 0.2s ease;
}

.card:hover .photo-wrapper {
  top: -0px;
  left: 5px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--default-border-radius);
  display: block;
}

h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 0.5em 0.5em;
  font-size: clamp(12px, 1.5vw, 20px);
  color: white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}
