@use 'mixins' as *;



nav{
  width: 100%;
  display: flex;
  justify-content: center;
}

ul{
  width: 100%;
  cursor: pointer;
  font-size: 0.70em;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li{
  border-radius: var(--default-border-radius);
  overflow: hidden;
  height: 100%;
  display: flex;
  padding: 0.5em;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

li:hover{
  background: rgba(188, 195, 255, 0.652);

}

@media (max-width: 768px){

ul{
  display: none;
}
:host{
  border: none;
  border-radius: 0;
}
}
