.search-bar{
  min-width: 300px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  background: rgba(0, 0, 0, 0.347);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.142);
}

.icon{
  display: flex;
  gap: 12px;
}

.search-bar:hover{
  background: rgba(0, 0, 0, 0.574);
}

input, button{
  all: unset;
}

button{
  cursor: pointer;
  display: flex;
}

button:hover{
  background: rgba(255, 255, 255, 0.256);
  border-radius: 100px;
}

button:active{
  background: rgba(255, 255, 255, 0.128);
  border-radius: 100px;
}

