@use 'mixins' as *;

.time-location-type{
  padding-right: 5px;
  font-weight: 250;
  font-size: 12px;
  display: flex;
  width: 100%;

  flex-direction: row;
  height: fit-content;
  justify-content: flex-start;
  align-items: start;

  gap: 8px;
}

.info{
  display: flex;
  gap: 4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

svg {
  flex: 0 0 18px;
  height: 18px;
}

.thumbnail-container{
  grid-area: thumbnail-container;
  width: fit-content;
  height: fit-content;
}


.event-thumbnail {
  object-fit: cover;
  border-radius: var(--default-border-radius);
  height: 75px;
  grid-area: thumbnail;
}

.group{
  grid-area: group;
  height: fit-content;
}

.card{
  /*NOTE: you MUST use thumbnail-container for the grid area.
  **Since it doesn't have an assigned height, '.' will take the height of the time-location-type div
  */
  padding: 8px;
  @include container;
  border-radius: var(--default-border-radius);
  display: grid;
  grid-template-areas:
    "thumbnail-container  group"
    "thumbnail-container card-title-and-intro"
    ;
  width: fit-content;
  height: fit-content;
  gap: 8px;

  grid-template-rows: 20% 80%;
}

.card-description{
  font-weight:  300;
  height: 100%;
}

.card-title{
  font-size: 13px;
}

.card-description{
  font-size: 13px;
}

.card-title-and-intro{
  grid-area: card-title-and-intro;
  display: flex;
  height: fit-content;
  flex-direction: column;


}

.card-text{
  display: flex;
  flex-direction: column;

}



@media screen and (max-width: 1250px) {


}

@media screen and (max-width: 650px) {

  .card{
  grid-template-areas:
  "group group"
  "thumbnail-container card-title-and-intro"
  ;
  }

  .time-location-type{
    font-size: 8px;
  }

  .info{
    display: flex;
    justify-content: center;
    align-items: center;
  }






}
