@use 'mixins' as *;

.time-location-type{
  padding-right: 5px;
  font-weight: 250;
  font-size: 12px;
  display: flex;
  width: 100%;

  flex-direction: row;
  height: fit-content;
  justify-content: flex-start;
  align-items: start;

  gap: 8px;
}

.info{
  display: flex;
  gap: 4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

svg {
  flex: 0 0 18px;
  height: 18px;
}

.thumbnail-container{
  grid-area: thumbnail-container;

}


.event-thumbnail {
  object-fit: cover;
  border-radius: var(--default-border-radius);
  height: 75px;
  grid-area: thumbnail;
}

.group{
  grid-area: group;
  height: fit-content;
}

.card{
  /*NOTE: you MUST use thumbnail-container for the grid area.
  **Since it doesn't have an assigned height, '.' will take the height of the time-location-type div
  */
  padding: 0.5em;
  @include container;
  border-radius: var(--default-border-radius);
  display: grid;
  grid-template-areas:
    "group group"
    "card-title card-title"
    "thumbnail-container card-description"
    ;
  width: fit-content;
  height: fit-content;
  gap: 0.33em;

  grid-template-rows: auto auto auto;
}

.card-description{
  font-weight:  300;
  height: fit-content;
  font-size: 13px;
  grid-area: card-description;
}

.card-title{
  display: flex;
  font-size: 13px;
  grid-area: card-title;
}

.card-title-and-intro{
  grid-area: card-title-and-intro;


}

.card-text{
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 768px) {
  .card{
    grid-template-columns: auto auto;
  grid-template-areas:
    "group group"
    "thumbnail-container card-title ."
    "thumbnail-container  card-description"

}
}



@media screen and (max-width: 500px) {
  .card{
    grid-template-columns: auto;
  grid-template-areas:
    "group"
    "card-title"
    "thumbnail-container"
    "card-description"
}
}
