@use 'mixins' as *;
@use 'animations' as *;

a{
  @include container;
  @include dynamic-link;
  width: fit-content;
  font-size: 13px;



  &:hover {
    animation: glass-hover 0.4s ease forwards;
  }

  &:active {
    animation: glass-active 0.2s ease forwards;
  }
}
