@use 'mixins' as *;
@use 'animations' as *;

h2{
  font-size: 22px;
  font-weight: 400;
}

.provinces{
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}


.card{
  @include container;
  @include dynamic-link;

  &:hover {
    animation: glass-hover 0.15s ease forwards;
  }

  &:active {
    animation: glass-active 0.2s ease forwards;
  }

}
